SECURE_BROWSER_ENV=development
SECURE_BROWSER_MONGODB_URI=mongodb://localhost:27017
SECURE_BROWSER_DB_NAME=secure_browser
SECURE_BROWSER_VT_API_KEY=
SECURE_BROWSER_ALLOWED_ORIGINS=http://localhost:5173,chrome-extension://EXTENSION_ID
